@import url('../vendor/normalize.css');
@import url('../fonts/fonts.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__lang-link/__lang-link.css');
@import url('../blocks/flex-container/flex-container.css');
@import url('../blocks/lead/__title/__title.css');
@import url('../blocks/lead/__subtitle/__subtitle.css');
@import url('../blocks/lead/__image/lead__image.css');
@import url('../blocks/lead/__caption/__caption.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/intro/__title/intro__title.css');
@import url('../blocks/intro/__text/intro__text.css');
@import url('../blocks/intro/__list/intro__list.css');
@import url('../blocks/intro/__list/_text-accent/intro__list_text-accent.css');
@import url('../blocks/photo-grid/photo-grid.css');
@import url('../blocks/photo-grid/__item/photo-grid__item.css');
@import url('../blocks/places/places.css');
@import url('../blocks/place/place.css');
@import url('../blocks/place/__title/__title.css');
@import url('../blocks/place/__image/__image.css');
@import url('../blocks/place/__website/__website.css');
@import url('../blocks/place/__url-heading/__url-heading.css');
@import url('../blocks/place/__link/__link.css');
@import url('../blocks/place/__texts/__texts.css');
@import url('../blocks/place/__text/__text.css');
@import url('../blocks/cover/cover.css');
@import url('../blocks/cover/__title/__title.css');
@import url('../blocks/cover/__subtitle/__subtitle.css');


.body {
  background-color: #E7E7E7;
}

.page {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
}
